@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This applicaton has been create by Student ST10090436. </p>
    <p> Using Razor pages and in order to use the application or ensure it works </p>
    <p> as intended please see readme file located with all other files. </p>

    <br/>
    <!-- Login -->
    <a class="btn btn-primary btn-sm" href='/Login'>Login</a>
    <br />
    <br/>
    <!-- Register -->
    <a class="btn btn-primary btn-sm" href='/Register'>Register</a>
    <br />
</div>
